fastapi
uvicorn
sqlalchemy
psycopg2-binary
sentence-transformers
faiss-cpu
rapidfuzz
rank-bm25
python-dotenv
apscheduler
pandas
indic-transliteration
numpy
--extra-index-url https://download.pytorch.org/whl/cpu
torch